.page.theme_dark {
  --accent-color: #FF0070;
  --bg-color:  #000028;
  --text-color: #F1B2CE;
  --text-decor-color: #000028;
  --text-content-color: #FF0070;
  --title-color: #DB00FF;
  --accent-hover-color: #FF0070;
  --button-hover-br: rbg( 255, 0, 112 / .4);
  --social-decoration-color: #FF0070;
  --decorative-color: #FF0070;
  --color-menu: #FF0070;
  --focus-color: #F1B2CE;
  --accent-main-font: 'IBM Plex mono', sans-serif;
  --color-image: url(../images/cover-image-dark.png);
} 

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #FF0070;
    --bg-color:  #000028;
    --text-color: #F1B2CE;
    --text-decor-color: #000028;
    --text-content-color: #FF0070;
    --title-color: #DB00FF;
    --accent-hover-color: #FF0070;
    --button-hover-br: rbg( 255, 0, 112 / .4);
    --social-decoration-color: #FF0070;
    --decorative-color: #FF0070;
    --color-menu: #FF0070;
    --focus-color: #F1B2CE;
    --accent-main-font: 'IBM Plex mono', sans-serif;
    --color-image: url(../images/cover-image-dark.png);
  } 
}