.page.theme_dark {
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --title-shadow-clr: #FF0070;
  --bg-color:  #000028;
  --text-color: #F1B2CE;
  --text-button-clr: #FF0070;
  --border-button-color: #FF0070;
  --shadow-link-clr: #FF0070;
  --focus-link-clr: #F1B2CE;   
  --focus-underline-color: #FF0070;
  --hover-border-clr: #FF007066;
  --hover-link-clr: #F1B2CE;
  --background-border-clr: #FF0070;
  --rec-color: #FF0070;
  --heving-color: #FF0070;
  --content-heving-clr: #000028;
  --color-image: url(../images/cover-image-dark.png);
}



















