.page {
  margin: 0 auto;
  padding: 10px;
  color:var(--text-color);
  font-family: var(--accent-main-font);
  font-size: 18px;
  font-style: normal;
  background-color: var(--bg-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: var(--color-image);
}

@media (min-width: 768px) {

  .page {
    padding: 20px; 
  }

}

.accented-shadow-text {
  color: var(--content-heving-clr);
  font-weight: 700;
  font-size: var(--accent-mobile);
  line-height: 82.5%;
}

@media (min-width: 1024px) {

  .accented-shadow-text {
    font-size: var(--accent-desktop);
  }
}

.accented-background {
  color: var(--content-heving-clr);
  background-color: var(--accent-color);
}

.accented-text {
  font-size: 18px;
  line-height: 130%;
}

.accented-text_bold {
  font-weight: 700;
}

.content__title {
  max-inline-size: 355px;
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
  list-style-type: none;
  color: var(--heving-color);
  margin-bottom: 20px;
}

@media (min-width: 768px) {

  .content__title {
    max-inline-size: 236px;
  }
}

@media (min-width: 1024px) {

  .content__title {
    max-inline-size: 315px;
  }
}

.content-link {
  text-decoration: none;
  color: var(--text-color);
  text-shadow: 2px 2px 0 var(--shadow-link-clr);
  user-select: none;

  &:hover {
    border-bottom: 1px solid var(--hover-link-clr);
  }

  &:focus {
    outline: none; 
  }
  
  &:focus-visible {
    outline: 1px solid var(--focus-link-clr);
  }
}

.text {
  margin: 10px 0 20px;
  line-height: 130%;
}

.header {
  display: grid;
  grid-template-rows: auto max-content auto;
  align-items: center; 
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  
  .header {
    margin-bottom: 80px;
  } 
}

.decorative-social-icon {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 2px 10px 0 0;
  color: var( --rec-color);
  inset-inline-end: 0;
  inset-block-start: 0;
  text-transform: uppercase;

  &::after {
  content: '';
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--rec-color);
  background-color: var( --rec-color);
  inline-size: 7px;
  block-size: 7px;
  }
}

.decorated-zone {
  position: relative;
  min-block-size: 97vh;

  &::before {
    content: '';
    position: absolute;
    border-top: 1px solid var(--background-border-clr);
    border-right: 1px solid var(--background-border-clr);
    inset-inline-end: 0;
    inset-block-start: 0;
    inline-size: 25px;
    block-size: 25px;
  }

  &::after {
    content: '';
    position: absolute;
    border-bottom: 1px solid var(--background-border-clr);
    border-left: 1px solid var(--background-border-clr);
    inset-block-end: 0;
    inline-size: 25px;
    block-size: 25px;
  }
}

@media (min-width: 768px) {

  .decorated-zone {
    min-block-size: 96vh;
  }
}

@media (min-width: 1024px) {

  .decorated-zone {
   min-block-size: 94.7vh;
  }
}


.header__theme-menu {
  justify-self: end;
  margin: 10px 0 0;
  
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

@media (min-width: 1024px) {

  .header__theme-menu {
    justify-self: center;
    align-self: self-start;
    margin: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }
}


.header__theme-menu-button {
  border: none;
  padding: 0 13px;
  outline: 1px solid transparent;
  background-color: transparent;
  text-transform: lowercase;
  transition-duration: 0.2s;
  color: var(--text-button-clr);
  transition-property: outline;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-border-clr);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--focus-underline-color);
  outline: none;
}


.header__theme-menu-button_active {
  outline: 1px solid var(--heving-color);
  pointer-events: none;
}


.title {
  font-size: var(--accent-mobile);
  font-weight: 700;  
  line-height: 95.7px;
  color: var(--title-color);
  align-self: self-start;
  text-shadow: 4px 4px 0 var(--title-shadow-clr);
  margin: 15px 0 0;
}

@media (min-width: 768px) {

  .title {
  font-size: var(--accent-desktop);
  line-height: 99px;
  margin: 13px 0 0 -20px;
 
  }
}

@media (min-width: 1024px) {

  .title {
    line-height: 129.53px;
    margin: 45px 0 0 -20px;
  }
}

.header__text {
  justify-self: end;
  margin: 0;
  padding-right: 50px;
  max-inline-size: 364px;
  color: var(--content-heving-clr);
  background-color: var(--accent-color);
  font-size: 1em;
  font-weight: 700;
  line-height: 130%;
}

@media (min-width: 768px) {

  .header__text {
    margin: 0;
  }
}

@media (min-width: 1024px) {

  .header__text {
    margin: 0;
    padding: 0;
    max-inline-size: 491px;
  }
}


.title-normal {
  color: var(--content-heving-clr);
  background-color: var(--accent-color);
  font-weight: 400;
}


.content__list-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__content {
  min-inline-size: 355px;
}

@media (min-width: 768px) {

  .section__content {
    display: grid;
    grid-template-columns: 236px 1fr;
    column-gap: 20px;
  }
}

@media (min-width: 1024px) {

  .section__content {
    grid-template-columns: 315px 1fr;
  }
}

.attention {
  margin: 50px 0 50px;
}

@media (min-width: 768px) {

  .attention {
    margin: 60px 0 80px;
  }
} 
@media (min-width: 1024px) {

  .attention {
    margin: 60px 0 60px;
  }

  .attention__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }
}

.gallery {
  margin: 50px 0 50px;
}

.gallery__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.gallery__social-icon {
  inline-size: 100%;
}

@media (min-width: 768px) {

  .gallery {
    margin: 60px 0 70px;
  }

  .gallery__list  {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, fit-content);
    row-gap: 16px;
    column-gap: 16px;
    margin-top: 20px;
  }

  .gallery__item:nth-child(1) {
    grid-column: 1 / 3;
  }

  .gallery__item:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .gallery__item:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .gallery__item:last-child {
    grid-column: 2 / 4;
  }

  .gallery__social-icon {
    object-fit: cover;
    object-position: top;
    block-size: 100%;
  }
}

.footer {
  display: grid;
}


.footer__title {
  justify-self: center;
  align-self: center;
  margin: 0;
}