:root {
  --accent-color: #FF8DCB;
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --text-decor-color: #353430;
  --text-content-color: #353430;
  --title-color: #FFC2E6;
  --accent-hover-color: #353430;
  --button-hover-br: rbg(50, 49, 45 / .4);
  --social-decoration-color: #FFF1F7;
  --decorative-color:  #353430;
  --color-menu: #FF8DCB;
  --focus-color: #353430;
  --accent-main-font: 'IBM Plex mono', sans-serif;
  --accent-heading-fs-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --accent-heading-fs-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --color-image: url(../images/cover-image-light.png);
}











